html,
body{
    /*background-color: #fafafa;*/
    background-color: #444444;
    color: #636b6f;
}

#sidebar-wrapper{
    background-color: #337ab7;
    color: white;
}

.submenu-body{
    background-color: #666666;
}

.submenu-heading{
    background-color: #555555;
}

.list-group div {
    color: #AEAEAE;
}

.submenu-submenu-item a:hover {
    background-color: #273246;
}

.submenu-title{
    color: #4CAF50;
}

.submenu-title:hover {
    color: #449d44;
}